{% extends 'myhome/base.html' %}

{% block banner %}
    <div class="banner">
      <!--轮播 -->
        <div class="am-slider am-slider-default scoll" data-am-flexslider id="demo-slider-0">
            <ul class="am-slides">
                <li class="banner1"><a href="introduction.html"><img src="/static/myhome/images/ad1.jpg" /></a></li>
                <li class="banner2"><a><img src="/static/myhome/images/ad2.jpg" /></a></li>
                <li class="banner3"><a><img src="/static/myhome/images/ad3.jpg" /></a></li>
                <li class="banner4"><a><img src="/static/myhome/images/ad4.jpg" /></a></li>

            </ul>
        </div>
        <div class="clear"></div>   
    </div>

    <!--轮播-->
    <script type="text/javascript">
        (function() {
            $('.am-slider').flexslider();
        });
        $(document).ready(function() {
            $("li").hover(function() {
                $(".category-content .category-list li.first .menu-in").css("display", "none");
                $(".category-content .category-list li.first").removeClass("hover");
                $(this).addClass("hover");
                $(this).children("div.menu-in").css("display", "block")
            }, function() {
                $(this).removeClass("hover")
                $(this).children("div.menu-in").css("display", "none")
            });
        })
    </script>
{% endblock %}

{% block nav %}
    <div class="long-title"><span class="all-goods">全部分类</span></div>
    <div class="nav-cont">
        <ul>
            <li class="index"><a href="#">首页</a></li>
            <li class="qc"><a href="#">闪购</a></li>
            <li class="qc"><a href="#">限时抢</a></li>
            <li class="qc"><a href="#">团购</a></li>
            <li class="qc last"><a href="#">大包装</a></li>
        </ul>
        <div class="nav-extra">
            <i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
            <i class="am-icon-angle-right" style="padding-left: 10px;"></i>
        </div>
    </div>                  

    <!--侧边导航 -->
    <!--侧边导航 -->
    <div id="nav" class="navfull">
        <div class="area clearfix">
            <div class="category-content" id="guide_2">
                
                <div class="category">
                    <ul class="category-list" id="js_climit_li">
                    
                    {% for v in typegoodslist %}
                        <li class="appliance js_toggle relative first">
                            <div class="category-info">
                                <h3 class="category-name b-category-name">
                                    <i><img src="/static/myhome/images/cake.png"></i>
                                    <a class="ml-22" >{{ v.name }}</a>
                                </h3>
                                <em>&gt;</em></div>
                            <div class="menu-item menu-in top">
                                <div class="area-in">
                                    <div class="area-bg">
                                        <div class="menu-srot">
                                            <div class="sort-side">
                                            {% for vv in v.sub %}
                                                <dl class="dl-sort">
                                                    <dt><a href="{% url 'myhome_list' vv.id %}"><span>{{ vv.name }}</span></a></dt>
                                                    {% for vvv in vv.goodssub %}
                                                    <dd><a href="{% url 'myhome_info' vvv.id %}"><span>{{ vvv.title }}</span></a></dd>
                                                    {% endfor %}
                                                </dl>
                                            {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <b class="arrow"></b>   
                        </li>
                    {% endfor %}

                  
              
                    </ul>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block con %}
    <div class="shopMainbg">

        <div class="shopMain" id="shopmain">
        
            {% for v in erdata %}
                <div class="clear "></div>
                <div id="f{{forloop.counter}}">
                    <!--甜点-->
                    <div class="am-container ">
                        <div class="shopTitle ">
                            <h4>{{ v.name }}</h4>
                            <span class="more ">
                            <a href="{% url 'myhome_list' v.id %}">更多美味<i class="am-icon-angle-right" style="padding-left:10px ;" ></i></a>
                            </span>
                        </div>
                    </div>
                    <div class="am-g am-g-fixed floodFour">
                        {% for vv in v.goodssub %}
                            <div class="am-u-sm-3 am-u-md-2 text-two">
                                <div class="outer-con ">
                                    <div class="title ">
                                        {{ vv.title }}
                                    </div>
                                    <div class="sub-title ">
                                        ¥{{ vv.price }}
                                    </div>
                                    <i class="am-icon-shopping-basket am-icon-md  seprate"></i>
                                </div>
                                <a href="{% url 'myhome_info' vv.id %}" ><img style="width: 180px;height: 180px;" src="{{ vv.pics }}" /></a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}


        </div>


        
         
        <div class="footer ">
            <div class="footer-hd ">
                <p>
                    <a href="# ">恒望科技</a>
                    <b>|</b>
                    <a href="# ">商城首页</a>
                    <b>|</b>
                    <a href="# ">支付宝</a>
                    <b>|</b>
                    <a href="# ">物流</a>
                </p>
            </div>
            <div class="footer-bd ">
                <p>
                    <a href="# ">关于恒望</a>
                    <a href="# ">合作伙伴</a>
                    <a href="# ">联系我们</a>
                    <a href="# ">网站地图</a>
                    <em>© 2015-2025 Hengwang.com 版权所有</em>
                </p>
            </div>
        </div>

    </div>
{% endblock %}